{% extends 'bases/base.html' %}
{% load static %}

{% block head %}
	<title>Category</title>
	<link rel="stylesheet" href="{% static 'bases/normalize.css' %}">
  	<link rel="stylesheet" href="{% static 'bases/layout.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'analysis/hb.css' %}">
	<script >
		function All()
			{
			   clearRadioGroup("Options1");
			   clearRadioGroup("Options2");
			}

		function clickAll(GroupName)
			{
			  var ele = document.getElementsByName(GroupName);
				for(var i=0;i<ele.length;i++)
				ele[i].checked = true;
			}
	</script>
{% endblock %}

{% block content %}


<div class="tbody">

	<div id="content">
	  <h1>Category</h1>
	</div>
	{% if messages %}
		{% for message in messages %}
		<div class="msg-box">
		  <div class="alert alert-{{ message.tags }}">
			{{ message }}
		  </div>
		</div>
		{% endfor %}
    {% endif %}

	<form method="POST" action="" >
<!--	<form method="POST" action="{% url 'analysis-targetVideo' %}">-->
		{% csrf_token %}
  	  	<div class="left1">
			<div class="option_heading">
				<h4>Quality</h4>
			</div>
			<div class="box">
				<h3 class="options"><input type="checkbox" name="Quality" value="Excellent"/>Excellent</h3>
				<h3 class="options"><input type="checkbox" name="Quality" value="Good_to_Fair"/>Good to Fair</h3>
				<h3 class="options"><input type="checkbox" name="Quality" value="Poor"/>Poor</h3>
				<h3 class="options"><input type="checkbox" name="Quality" value="Extremely_Obstructed"/>Extremely Obsetructed</h3>
				<button type="button" class="buttonClickAll" onclick="clickAll('Quality')">No preference</button>
			</div>
		</div>

		<div class="right1">
			<div class="option_heading">
				<h4>Ruminating/Foraging</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="Ruminating/Foraging" value="Chewing"/>Chewing</h3>
			<h3 class="options"><input type="checkbox" name="Ruminating/Foraging" value="Drinking"/>Drinking</h3>
			<h3 class="options"><input type="checkbox" name="Ruminating/Foraging" value="Eating"/>Eating</h3>
			<h3 class="options"><input type="checkbox" name="Ruminating/Foraging" value="Licking"/>Licking Soil for Minerals but did not eat</h3>
			<h3 class="options"><input type="checkbox" name="Ruminating/Foraging" value="Ruminating"/>Ruminating</h3>
			<h3 class="options"><input type="checkbox" name="Ruminating/Foraging" value="None"/>None</h3>
			<button type="button" class="buttonClickAll" onclick="clickAll('Ruminating/Foraging')">No preference</button>
		</div>

		<div class="left2">
			<div class="option_heading">
				<h4>State of Locomotion</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="State_of_Locomotion" value="Wading"/>Wading/Swimming</h3>
			<h3 class="options"><input type="checkbox" name="State_of_Locomotion" value="Running"/>Running</h3>
			<h3 class="options"><input type="checkbox" name="State_of_Locomotion" value="Walking"/>Walking</h3>
			<h3 class="options"><input type="checkbox" name="State_of_Locomotion" value="Stationary"/>Stationary Awake</h3>
			<h3 class="options"><input type="checkbox" name="State_of_Locomotion" value="Napping">Napping</h3>
			<button type="button" class="buttonClickAll" onclick="clickAll('State_of_Locomotion')">No preference</button>

		</div>

		<div class="right2">
			<div class="option_heading">
				<h4>Is a calf visible?</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="Is_a_calf_visible" value="Yes_her_own"/>Yes – her own</h3>
			<h3 class="options"><input type="checkbox" name="Is_a_calf_visible" value="Yes_possibly_her_own"/>Yes – possibly her own</h3>
			<h3 class="options"><input type="checkbox" name="Is_a_calf_visible" value="Yes_with_another_cow"/>Yes – with another cow</h3>
			<h3 class="options"><input type="checkbox" name="Is_a_calf_visible" value="No"/>No</h3>
			<button type="button" class="buttonClickAll" onclick="clickAll('Is_a_calf_visible')">No preference</button>
		</div>

		<div class="left3">
			<div class="option_heading">
				<h4>Other caribou visible (excluding own calf)?</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="Other_caribou_visible_excluding_own_calf" value="Yes_one_to_a_few"/>Yes – one to a few individuals </h3>
			<h3 class="options"><input type="checkbox" name="Other_caribou_visible_excluding_own_calf" value="Yes_herd"/>Yes – herd</h3>
			<h3 class="options"><input type="checkbox" name="Other_caribou_visible_excluding_own_calf" value="Yes"/>Yes – Yes</h3>
			<h3 class="options"><input type="checkbox" name="Other_caribou_visible_excluding_own_calf" value="No"/>No </h3>
			<button type="button" class="buttonClickAll" onclick="clickAll('Other_caribou_visible_excluding_own_calf')">No preference</button>
	 	</div>

		<div class="right3">
			<div class="option_heading">
				<h4>Does the cow have antlers?</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="Does_the_cow_have_antlers" value="Yes"/>Yes</h3>
			<h3 class="options"><input type="checkbox" name="Does_the_cow_have_antlers" value="No"/>No </h3>
			<h3 class="options"><input type="checkbox" name="Does_the_cow_have_antlers" value="cant see"/>Can't see/Not sure/Not relevant</h3>
			<button type="button" class="buttonClickAll" onclick="clickAll('Does_the_cow_have_antlers')">No preference</button>
		</div>


		<div class="left4">
			<div class="option_heading">
				<h4>What part of the habitat is visible?</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="What_part_of_the_habitat_is_visible" value="Ground_immediate_surroundings"/>Ground and immediate surroundings</h3>
			<h3 class="options"><input type="checkbox" name="What_part_of_the_habitat_is_visible" value="Only_ground"/>Only ground</h3>
			<h3 class="options"><input type="checkbox" name="What_part_of_the_habitat_is_visible" value="None"/>None</h3>
			<button type="button" class="buttonClickAll" onclick="clickAll('What_part_of_the_habitat_is_visible')">No preference</button>
		</div>

<!--		整理-->
		<div class="right4">
			<div class="option_heading">
				<h4>Potential insect avoidance behavior</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="Potential_insect_avoidance_behavior" value="Shook_its_head"/>Shook its head</h3>
			<h3 class="options"><input type="checkbox" name="Potential_insect_avoidance_behavior" value="Kept_nose_Ground"/>Kept its nose still AND on the ground</h3>
			<h3 class="options"><input type="checkbox" name="Potential_insect_avoidance_behavior" value="Scratched"/>Scratched</h3>
			<h3 class="options"><input type="checkbox" name="Potential_insect_avoidance_behavior" value="Sought_snow_patch"/>Sought snow patch</h3>
			<h3 class="options"><input type="checkbox" name="Potential_insect_avoidance_behavior" value="Huddled"/>Huddled</h3>
<!--			<h3 class="options"><input type="checkbox" name="Potential_insect_avoidance_behavior" value="None"/>None of the above</h3>-->
			<button type="button" class="buttonClickAll" onclick="clickAll('Potential_insect_avoidance_behavior')">No preference</button>
		</div>

		<div class="left5">
			<div class="option_heading">
				<h4>Predominant vegetation</h4>
			</div>
			<h3 class="options"><input type="checkbox" name="What_is_the_PREDOMINANT_vegetation" value="Poor_visibility"/>Poor visibility of predominant vegetation</h3>
			<h3 class="options"><input type="checkbox" name="What_is_the_PREDOMINANT_vegetation" value="Alpine_Tundra"/>Alpine Tundra</h3>
			<h3 class="options"><input type="checkbox" name="What_is_the_PREDOMINANT_vegetation" value="Lichen/Moss/Herbaceous"/>Lichen/Moss/Herbaceous</h3>
			<h3 class="options"><input type="checkbox" name="What_is_the_PREDOMINANT_vegetation" value="Shrubby"/>Shrubby</h3>
			<h3 class="options"><input type="checkbox" name="What_is_the_PREDOMINANT_vegetation" value="Forested-Deciduous"/>Forested – Deciduous</h3>
			<h3 class="options"><input type="checkbox" name="What_is_the_PREDOMINANT_vegetation" value="Forested–Coniferous"/>Forested – Coniferous</h3>
			<h3 class="options"><input type="checkbox" name="What_is_the_PREDOMINANT_vegetation" value="Unvegetated_Areas"/>Unvegetated Areas</h3>
			<button type="button" class="buttonClickAll" onclick="clickAll('What_is_the_PREDOMINANT_vegetation')">No preference</button>
		</div>

		<div class="right5">
			<h4 class="option_heading_extended">If you have no preference for any categories, please click on the button below.</h4>
			<button id="right5_button" type="button"
					onclick= "window.location.href='{% url 'analysis-targetVideo' %}'">All</button>
		</div>

		<div id="bottom_button">
<!--			数据库内容测试-->
<!--			<button type="button" class="" onclick= "window.location.href ='{% url 'content' %}'">Content</button>-->
			<button type="button" class="buttonLeft" onclick= "window.location.href ='{% url 'bases-home' %}'">Back</button>
			<button type="Submit" class="buttonRight">Submit</button>
		</div>
	</form>

</div>
{% endblock %}